body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #003580;
    padding: 10px 0;
}
/* Estilo para o menu de navegação */
nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a {
    text-decoration: none;
    color: black; /* Cor padrão do texto */
    padding: 5px 10px;
    transition: background-color 0.3s, color 0.3s;
}

/* Efeito de destaque quando o cursor passa sobre o link */
nav ul li a:hover {
    background-color: #f0f0f0; /* Cor de fundo ao passar o cursor */
    color: #007bff; /* Cor do texto ao passar o cursor */
    border-radius: 3px; /* Cantos arredondados opcional */
}


nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: #dedde6;
    text-decoration: none;
    font-weight: bold;
}

.hero {
    background: url('https://cdn.motor1.com/images/mgl/XL9Nv/s3/2019-volvo-v60-first-drive.jpg') no-repeat center center/cover;
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    text-align: center;
}
.hero h1, .hero p {
    text-shadow: 
        1px 1px 0 #000, 
        -1px 1px 0 #000, 
        1px -1px 0 #000, 
        -1px -1px 0 #000;
}


.hero h1 {
    font-size: 48px;
    margin: 0;
}

.hero p {
    font-size: 24px;
    margin-top: 10px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

h2 {
    font-size: 36px;
    margin-bottom: 20px;
    color: #003580;
}

p {
    font-size: 18px;
    line-height: 1.6;
}

ul {
    font-size: 18px;
    line-height: 1.6;
}
.gallery-grid img {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.gallery-grid img:hover {
    transform: scale(1.1); /* Aumenta o tamanho da imagem em 10% */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Adiciona uma sombra */
}


.gallery-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}

.gallery-grid img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

footer {
    background-color: #003580;
    color: #da1515;
    padding: 20px 0;
    text-align: center;
}

footer form {
    max-width: 600px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

footer label {
    font-weight: bold;
}

footer input, footer textarea {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
}

footer button {
    padding: 10px;
    background-color: #ffcc00;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    color: #003580;
    cursor: pointer;
}

footer button:hover {
    background-color: #e6b800;
}
